*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items:center ;
    background-color: #DD2D4A;
    margin:0;
    padding: 0;
    width: 100%;
}
header{
    height: 10vh;
    
    width: 100%;
    background-color:#B31D34 ;
    box-shadow: 0 0 5px 1px #880D1E;
}
main{
    width: 60%;
    height: 76vh;
    background-color:#F383A4 ;
    border:1px solid #880D1E  ;
    border-radius: 20px;
    margin:2vh;
    box-shadow: 0 0 5px 1px #880d1dfa;
}
footer{
    width: 100%;
    height: 10vh;
    background-color: #B31D34;
    box-shadow: 0 0 10px 0.2px #880D1E;
}
/* ////////////////////////////////////////////////////////////////////////// */
.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.seccard{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    justify-content: space-around;
    margin: 0.5vmin;
}

.cardmedio{
    border:1px solid #880D1E;
    border-radius: 20px ;
    box-shadow: 0 0 4px 1px #880d1d57;
    margin: 1vmin 100px;
    width: 50%;
    height: 50%;
    background-color: #DD2D4A;
}

.card{
    border:1px solid #880D1E;
    border-radius: 20px ;
    box-shadow: 0 0 4px 1px #880d1d57;
    background-color: #F26A8D;
    width: 30%;
    height: 100%;
    transition: 0.3s;
}
.card:hover{
    box-shadow:5px;
    transform: scale(104%);
}