*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/imagen_de_fondo.png);
    background-repeat: repeat; /* para que no haya cortes */
    animation: moverFondo 40s linear infinite;
    margin: 0;
    padding: 0;
    width: 100%;
}

@keyframes moverFondo {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0; /* ajusta la distancia */
    }
}


header{
    height: 10vh;
    
    width: 100%;
    background-color:#B31D34 ;
    box-shadow: 0 0 5px 1px #880D1E;
}
main{
    width: 60%;
    height: 76vh;
    background-color:#F383A4 ;
    border:1px solid #880D1E  ;
    border-radius: 20px;
    margin:2vh;
    box-shadow: 0 0 5px 1px #880d1dfa;
}

footer{
    width: 100%;
    height: 10vh;
    background-color: #B31D34;
    box-shadow: 0 0 10px 0.2px #880D1E;
}
/* ////////////////////////////////////////////////////////////////////////// */
.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.seccard{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    justify-content: space-around;
    margin: 0.5vmin;

}

.titulo{
    text-align: center;
    color:white;
}

.cardmedio{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid #880D1E;
    border-radius: 20px ;
    box-shadow: 0 0 4px 1px #880d1d57;
    margin: 1vmin 100px;
    width: 50%;
    height: 50%;
    background-color: #DD2D4A;
}

.medy{
    text-align: center;
}

.card{
    border:1px solid #880D1E;
    border-radius: 20px ;
    box-shadow: 0 0 4px 1px #880d1d57;
    background-color: #F26A8D;
    width: 30%;
    height: 100%;
    transition: 0.3s;
}
.card:hover{
    box-shadow:5px;
    transform: scale(104%);
}

.juego{
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 5px 1px rgba(255, 0, 0, 0.733);
    background-color: #880D1E;
    border:1px solid rgb(252, 3, 3);
    border-radius: 10px;
    padding: 10px;
}

.juego:hover{
    transform: scale(1.03);
}

/* //////////////////CARROUSEL/////////////////////// */
